{% extends "layout.html" %}
{% block body %}
  <h2>Register</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

  <div class="card">
  <form action="{{ url_for('register_page') }}" method=post>
      <label>Username:</label>
      <input type=text name=username>
      <br><br>
       <label>Password:</label>
      <input type=password name=password>
      <input type=hidden name="is_robot" value="False">
      <br><br>
      <input class ="button" type=submit value=Register>
  </form>
</div>
{% endblock %}
